a[href]:after { content:none; }
.avisclient-contenu .note { color:#000; background-image:none; }
.avisclient-notes { background-color:#fff; border-left:1px solid #000; border-bottom:1px solid #000; border-right:1px solid #000; }
.avisclient-produit { background-color:#fff; border-left:1px solid #000; border-top:1px solid #000; border-right:1px solid #000; }
.avisclients-entete { text-align:left; padding:0 15px 0 15px; }
.avisclients-lien { display:none; }
.avisclients-nom { text-align:left; font-size:14px; line-height:16px; }
#bloc1-ferme { display:none !important; }
#bloc1-ouvert { display:block !important; }
#bloc2-ferme { display:none !important; }
#bloc2-ouvert { display:block !important; }
#bloc3-ferme { display:none !important; }
#bloc3-ouvert { display:block !important; }
#bloc4-ferme { display:none !important; }
#bloc4-ouvert { display:block !important; }
#bloc5-ferme { display:none !important; }
#bloc5-ouvert { display:block !important; }
.diaporama { display:none; }
.fiche-avis { text-align:right; }
.fiche-entete-droite { display:table-cell; width:25% !important; padding:0 0 0 15px; }
.fiche-entete-gauche { display:table-cell; width:75% !important; }
.fiche-entete-zone { display:table; width:100% !important; }
.fiche-prixduree { text-align:right; padding:0; margin-top:15px; }
.fiche-suite-fond { padding:0; }
.fiche-suite-zone1 { display:none; }
.fiche-suite-zone3 { display:none; }
.fil-ariane-zone { display:none; }
#live-contenu-ete { display:none !important; }
#live-contenu-hiver { display:none !important; }
#live-ete { display:none !important; }
#live-hiver { display:none !important; }
.logo-menu-zone { display:none; }
.milieu-droite .bloc-carte { padding:5px 0 0 0; }
.milieu-droite .bloc-contenu { padding:15px 0 30px 0; }
.milieu-droite .bloc-titre { padding:10px 0 10px 0; }
.milieu-droite .bloc-titre a .fa-angle-down { display:none; }
.milieu-droite .bloc-titre a .fa-angle-up { display:none; }
.milieu-droite .bloc-titre-special { padding:10px 0 10px 0; }
.milieu-droite .bloc-titre-special a .fa-angle-down { display:none; }
.milieu-droite .bloc-titre-special a .fa-angle-up { display:none; }
.milieu-gauche { display:none; }
.panier { display:none !important; }
.pied-zone { display:none; }
.retour-liste-zone { display:none; }
.social-zone { display:none; }
.r-identification.hebergeur label,
.reveal-modal .columns,
.r-identification.hebergeur p { width:48%;display:inline-block;min-height: 15px;}
